.hide{
    display: none;    
}

.show{
    display: block;
}

.clickable{
    cursor: pointer;
}

.width-inherit{
    width:inherit;
}

.font-large{
    font-size: large !important;
}

.scrollbar-custom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(131, 131, 131, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(131, 131, 131, 0.3);
	background-color: #7b7b7b;
}

.font-review{
	font-size:128px;
}

@media only screen and (max-width: 1024px) {
	.font-review{
		font-size:80px;
	}
}

